<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title></title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <!-- FIN CSS -->
</head>
<body>


<!-- BARRA DE NAVEGACIÓN -->
<nav>
  <div class="nav-wrapper grey darken-3">
    <a href="#" class="brand-logo center">MedicType</a>
    <ul id="nav-mobile" class="left hide-on-med-and-down">
    </ul>
  </div>
</nav>
<!-- FIN BARRA DE NAVEGACIÓN -->

<!-- LISTA DE PACIENTES -->
<div style="height: 75vh;" class="container">
  <div class="section">
    <div class="row">
      <br><br>
      <h4 class="col s12 light center">Lista de Pacientes</h4>

      <table class="highlight centered">

        <thead>
        <tr>
          <th class="teal-text text-accent-4">Nombre</th>
          <th class="teal-text text-accent-4">Descripción</th>
          <th class="teal-text text-accent-4">Transmisión</th>
          <th class="teal-text text-accent-4">Patogénesis</th>
        </tr>
        </thead>
        <tbody>
        <% _.each(patologia, function (patologia){ %>
        <tr data-id="<%= patologia.id %>" data-model="paciente" >
          <!-- NOMBRE -->
          <td><%= patologia.nombre %></td>
          <!-- APELLIDO -->
          <td><%= patologia.descripcion %></td>
          <!-- SEXO -->
          <td><%= patologia.transmision %></td>
          <!-- CEDULA -->
          <td><%= patologia.patogenesis %></td>
          <td>
            <a href="/Patologia/editar/<%= patologia.id %>" class="material-icons teal-text text-accent-4">add_circle</a>
            <a href="/Patologia/delete/<%= patologia.id %>" class="material-icons teal-text text-accent-4">delete</a>
          </td>
        </tr>
        </tbody>
        <% }) %>
      </table>
    </div>
    <div class="row">
      <div class="col s12 m12 l12 center">
        <a href="/Patologia/nuevo/" class="btn waves-effect waves-light teal accent-4" type="submit" name="action">Nueva Patología</a>
      </div>
      <div class="col s12 m12 l12 center">
        <a href="/Patologia/especial/" class="btn waves-effect waves-light teal accent-4" type="submit" name="action">Ver frecuencias de aparición</a>
      </div>

    </div>

  </div>
  <br><br>
</div>
<!-- FIN LISTA DE PACIENTES -->

<footer class="page-footer teal accent-4">
  <div class="container">
    <div class="row">
      <div class="col s12 m9 l9">
        <h5 class="white-text">Sobre el Proyecto</h5>
        <p class="grey-text text-lighten-4">Proyecto de Base de Datos de la Universidad Metropolitana. Implementación de una base de datos relacional con Sails.js y MySQL.</p>


      </div>
      <div class="col s12 m3 l3">
        <h5 class="white-text">Integrantes:</h5>
        <ul>
          <li><a class="white-text" href="#!">Maximiliano Casale</a></li>
          <li><a class="white-text" href="#!">Abraham Chang</a></li>
          <li><a class="white-text" href="#!">Gabriel De Lellis</a></li>
          <li><a class="white-text" href="#!">Gabriele Troncone</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Proyecto realizado en <a class="grey-text text-darken-2" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script>
  $(document).ready(function(){
    $('.parallax').parallax();
  });
</script>



</body>
</html>

